# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignore the local Gradle cache
.gradle/
# Ignore all compiled output and JAR files
build/
bin/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.metadata
.classpath
.project
.settings/

# VS Code
.vscode/

# macOS
.DS_Store
# Windows
Thumbs.db
desktop.ini

.paper-remapped/
run/
plugins/